@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AroundTown3.Models.Route

<h2>Add a new Route</h2>
<hr />
<form action="CreateRoute" class="create-route">
    <label for="newRouteName"> Route Name </label>
    <input type="text" name="newRouteName" />
</form>
<div id="resultCreate"></div>
@Html.ActionLink("Back to List", "Index")
